@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
    --azul: rgb(0, 149, 246);
    --facebook: #385185;
    --ig-link: rgb(0, 55, 107);
}

body {
    font-family: 'Roboto', sans-serif;
}

.login {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 32px;
}

.wrapper {
    margin: 20px;
    padding: 30px 50px;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 1px;
}

.wrapper.cadastro {
    padding: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form button {
    background-color: var(--azul);
    border: none;
    border-radius: 7px;
    margin: 15px 0 15px 0;
    align-self: auto;
    width: 268px;
    height: 32px;
    color: white;
}

form input {
    margin: 5px 0;
    padding: 9px 0 7px 8px;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 3px;
    font-size: 12px;
}

span {
    font-size: 14px;
}

.download img {
    height: 40px;
    cursor: pointer;
}

.ou {
    color: rgb(139, 139, 139);
    display: flex;
    flex-direction: row;
    position: relative;
}

hr {
	border: 0;
	border-top: 1px solid rgb(219, 219, 219);
}

.facebook {
    color: var(--facebook);
    font-size: 14px;
    align-items: center;
    margin: 25px 0;
}

.facebook img {
    width: 16px;
}

footer {
    color: rgb(139, 139, 139);
    text-align: center;
}

ul {
    padding-left: 0;
    font-size: 13px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 30px 40px;
    justify-content: center;
}

li {
    margin: 5px 10px;
    cursor: pointer;
}

select {
    color: rgb(139,139,139);
    margin: 10px;
    cursor: pointer;
}

option {
    border: none;
    margin: 10px;
}

input:focus, select:focus{
    outline: none;
}

@media (max-width: 876px) {
    .image {
        display: none;
    }
}
  